<!--
This file is part of the Dynamic Suite Docs package.

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

@package DynamicSuite\Docs
@author Grant Martin <commgdog@gmail.com>
@copyright 2021 Dynamic Suite Team
-->

<div class="docs-container ds-container primary">
    <h2>Command Line Reference</h2>
    <p>
        Dynamic Suite comes with a few CLI scripts that the system administrator can use.
    </p>
    <p>
        All of the scripts are kept in the <code>cli/</code> directory.
    </p>
    <p>
        Script can be run directly from the command line.
    </p>
    <p>
        The following are the scripts and their usage:
    </p>
    <table>
        <thead>
            <tr>
                <th>Script</th>
                <th>Usage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>about</td>
                <td>Dump information about the instance</td>
            </tr>
            <tr>
                <td>cache</td>
                <td>Manage the caching state</td>
            </tr>
            <tr>
                <td>setup</td>
                <td>Setup Dynamic Suite</td>
            </tr>
        </tbody>
    </table>
</div>