<!--
This file is part of the Dynamic Suite Docs package.

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

@package DynamicSuite\Docs
@author Grant Martin <commgdog@gmail.com>
@copyright 2021 Dynamic Suite Team
-->

<div class="docs-container ds-container primary">
    <h2>Overlay Action Structure</h2>
    <p>
        A package may contain "overlay actions" which render in the top right of the overlay header.
    </p>
    <p>
        An overlay action is a Vue component that is added to the overlay actions area which in the top right of the
        overlay header. If there are no overlay actions, the header actions area will never appear.
    </p>
    <p>
        Action links are JSON objects with the following structure:
    </p>
    <p>
        <i>Note, if a parameter is not provided, the default will be used.</i>
    </p>
    <h2>Parameters</h2>
    <docs-config-param param="component" type="string" default_value="null">
        The name of the Vue component as registered that will render in the actions area.
    </docs-config-param>
    <docs-config-param param="public" type="bool" default_value="false">
        If the overlay action is public and does not require authentication.
    </docs-config-param>
    <docs-config-param param="permissions" type="array" default_value="[]">
        An array of strings of required permissions on the session for the overlay action.
    </docs-config-param>
</div>